<div class="dashboard-root">
  <app-header
    [ownerName]="ownerName"
    [isMobile]="isMobile"
    [showUserDropdown]="showUserDropdown"
    [toggleUserDropdown]="toggleUserDropdown.bind(this)"
    [closeUserDropdown]="closeUserDropdown.bind(this)">
    <app-notification
      [alerts]="alerts"
      [showAlerts]="showAlerts"
      [toggleAlerts]="toggleAlerts.bind(this)"
      [closeAlerts]="closeAlerts.bind(this)">
    </app-notification>
  </app-header>

  <!-- Mobile menu button below header, left-aligned -->
  <div *ngIf="isMobile" class="mobile-menu-btn-container">
    <button mat-icon-button class="menu-btn" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="dashboard-content">
    <mat-sidenav-container class="dashboard-sidenav-container">
      <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" class="dashboard-sidenav" (closedStart)="sidenavOpened = false" (backdropClick)="sidenav.close()">
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route" (click)="isMobile ? sidenav.close() : null">
            <mat-icon>{{ item.icon }}</mat-icon> {{ item.label }}
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <div class="sidebar-quick-actions">
          <span class="quick-actions-title">Quick Actions</span>
          <div class="quick-actions-list">
            <button mat-stroked-button color="primary" *ngFor="let action of quickActions" (click)="onQuickAction(action)">
              <mat-icon>{{ action.icon }}</mat-icon> {{ action.label }}
            </button>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="dashboard-scrollable-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
